.idea/
*.iml

.gradle/
build/
**/build/

local.properties
**/local.properties
**/local.properties*
**/local_properties*.properties

google-services.json
**/google-services.json
**/google-services.json.example

.env
*.env

*.jks
*.keystore

**/README_TUTORIAL_4_GEMINI.md
TUTORIAL4/GeminiAPIStarter/README_TUTORIAL4_GEMINI.md